* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* utility classes */
.logo {
  height: 75px;
  /* border-radius: 50%; */
}

.nav-btn {
  background-color:#FD6E0A; ;
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

.nav-btn:hover {
  color: #fff;
  background-image: linear-gradient(120deg,#3e32a8,#e310c7);
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

/* Styling Navigation ber */
.navber {
  display: flex;
  justify-content: space-between;
  height:120px ;
  /* background-image:linear-gradient(120deg,#3e32a8,#e310c7); */
  background-color: #000;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  margin-right: 10px;
  padding: 2px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

button a {
  text-decoration: none;
  color: #fff;
}

ul li:hover {
  color: #fff;
  background-image: linear-gradient(120deg,#3e32a8,#e310c7);
  padding: 10px;
  border-radius: 5px;
}

 /* button:hover {
  color: #fff;
  background-image: linear-gradient(120deg,#3e32a8,#e310c7);
  padding: 10px;
  border-radius: 5px;
} */






