* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utility classes */
.logo {
  height: 75px;
}
.btn-primary {
  background-color:#FD6E0A; ;
  padding: 10px;
  border-radius: 5px;
  border: 0;
}
.btn-primary:hover {
  color: #fff;
  background-image: linear-gradient(120deg,#3e32a8,#e310c7);
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

.btn {
  margin: 20px 0;
}

hr{
  border: 1px solid #524f4f;
}

/* Styling Navigation ber */
.navber {
  display: flex;
  justify-content: space-between;
  height:120px ;
  background-color: #000;
  align-items: center;
  padding: 0 50px;
}

ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
  margin-right: 10px;
  padding: 2px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
button a {
  text-decoration: none;
  color: #fff;
}
ul li:hover {
  color: #fff;
  background-image: linear-gradient(120deg,#3e32a8,#e310c7);
  padding: 10px;
  border-radius: 5px;
}

/* this is body styling */

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #000;
  height: 600px;
  margin: auto;
}
.info-right {
  width: 50%;
  height: 100%;
  padding: 50px;
}
.info-right img {
  margin-top: 20px;
  margin-left: 20px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  color: #fff;
  margin: auto;
}

.text-heading , p {
  font-style: italic;
  margin: auto;
}

.text-heading {
  padding-bottom: 20px;
  font-size: 40px;
  background: linear-gradient(to right, #ff0000, #0000ff);
  -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
}

p {
  line-height: 20px;
  margin-right: 50px;
}

/* footer section */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #fff;
  background-color: #181818;
}

/* Responsive Styles */

/* Mobile Devices */
@media screen and (max-width:576px) {
  .navber {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .info-right {
    height: 50%;
    width: 100%;
  }

  .info-right > img {
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .info-left {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 50px;
    height: 50%;
    width: 100%;
  }
}