* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* utility classes */
.logo {
  height: 75px;
  border-radius: 50%;
}

.nav-btn {
  background-color:#FD6E0A; ;
  padding: 10px;
  border-radius: 5px;
}

/* Styling Navigation ber */
.navber {
  display: flex;
  justify-content: space-between;
  height:120px ;
  background-color: #0c0b0b;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  margin-right: 10px;
  padding: 2px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

button a {
  text-decoration: none;
  color: #fff;
}






